<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="MyContext" connectionString="Data Source=172.16.10.2;User ID=sa;Password=bruce;Initial Catalog=UsedCarsFinance;Integrated Security=False;Persist Security Info=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="connectionString" connectionString="Data Source=172.16.10.2;Initial Catalog=UsedCarsFinance;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=bruce;Pooling=True;Min Pool Size=5;Max Pool Size=30" providerName="System.Data.SqlClient" />
    <add name="connRBVehicle" connectionString="Data Source=172.16.10.2;Initial Catalog=RBVehicle;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=bruce" providerName="System.Data.SqlClient" />
    <add name="connCommonDB" connectionString="Data Source=172.16.10.2;Initial Catalog=CommonDB;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=bruce" providerName="System.Data.SqlClient" />
    <add name="connIautos" connectionString="Data Source=172.16.10.2;Initial Catalog=CarDB;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=bruce" providerName="System.Data.SqlClient" />
    <add name="connHomeCar" connectionString="Data Source=172.16.10.2;Initial Catalog=ywcommondb;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=bruce" providerName="System.Data.SqlClient" />
    <add name="connBankCredit" connectionString="Data Source=172.16.10.2;Initial Catalog=BankCreditPlatform;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=bruce" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Data.MyContext, Data" disableDatabaseInitialization="true">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Data.MyContext, Data], [Data.Migrations.Configuration, Data]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
  <appSettings>
    <add key="timespan" value="3600000" />
  </appSettings>
</configuration>