<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MyContext"
         connectionString="Data Source=172.16.10.2;User ID=sa;Password=bruce;Initial Catalog=ShrileFinance;Integrated Security=False;Persist Security Info=True;MultipleActiveResultSets=True;App=EntityFramework;"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="connectionString"
         connectionString="Data Source=172.16.10.2;User ID=sa;Password=bruce;Initial Catalog=ShrileFinance;Integrated Security=False;Persist Security Info=True;Pooling=True;Min Pool Size=5;Max Pool Size=30"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="connHomeCar"
         connectionString="Data Source=20.0.1.51;Initial Catalog=ywcommondb;Integrated Security=False;Persist Security Info=True;User ID=ywcommondb_app;Password=TxJ@_7Tg"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>

  <system.web>
  </system.web>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\\Logs\\UsedCarsFinance\\Test."
          xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </appender>

    <appender name="YWAppender" type="Web.Infrastructure.YWAppender">
      <param name="Enabled" value="false"
          xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </appender>
  </log4net>
  
  <entityFramework>
    <contexts>
      <context type="Data.MyContext, Data" disableDatabaseInitialization="false" 
               xdt:Locator="Match(type)" xdt:Transform="SetAttributes">
      </context>
    </contexts>
  </entityFramework>
</configuration>